---
title: Film Festival
---

  <h2>
    Film Festival
  </h2>

  <div class="row">
    
    <div class="col-sm-8 col-md-10">

      <p>
        On Saturday, October 31<sup>st</sup> at 7 pm, race partner Run the Alps will present the international film festival, Trails in Motion at the Medallion Opera House in Gorham, New Hampshire.
      </p>

      <p>
        The Internationally-Acclaimed Trails in Motion film festival features 9 short trail running films, from Patagonia to New England! We are very excited to be able to include these films as part of the weekend.
      </p>

      <p>
        <iframe src="https://player.vimeo.com/video/113910005" width="770" height="433" frameborder="0" title="Trails In Motion 3" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </p>

      <p>
        Purchase tickets online and get information on the venue, <a href="http://www.gorhamnh.org/pages/GorhamNH_Opera/index" target="_blank">right here</a>.
      </p>

      <p>
        Tickets will also be available the night of the show.
      </p>

      <p>
        Join us for the film festival, get a discount at race sponsor <a href="http://www.topnotchinn.com/accommodations/" target="_blank">The Top Notch</a> and make a weekend of it!
      </p>

    </div>

    <figure class="col-sm-4 col-md-2">
      <%= image_tag "TIM_Dark-On-Light_Logo_shadow.png", :class => 'img-responsive' %>
    </figure>

  </div>
