---
title: Film Festival
---

  <h2>
    Film Festival
  </h2>

  <div class="row ptl">

    <figure class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-9 mbl">
      <%= image_tag "TIM-logo.png", :class => 'img-responsive' %>
    </figure>

    <div class="col-sm-8 col-md-9 col-sm-pull-4 col-md-pull-3">

      <p class="mtn">
        On Saturday, October 29st at 7 pm, race partner <a href="http://runthealps.com/">Run the Alps</a> will present the international film festival, Trails in Motion at the Medallion Opera House in Gorham, New Hampshire.
      </p>

      <p>
        The Internationally-Acclaimed Trails in Motion film festival features 9 short trail running films, from Patagonia to New England! We are very excited to be able to include these films as part of the weekend.
      </p>

      <p>
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/pq1RVnral4o" frameborder="0" allowfullscreen></iframe>
        </div>
      </p>

      <p>
        Purchase tickets online and get information on the venue, <a href="http://www.gorhamnh.org/pages/GorhamNH_Opera/index" target="_blank">right here</a>.
      </p>

      <p>
        Tickets will also be available the night of the show and at the <a href="http://www.whitemountaincafe.com">White Mountain Cafe and Bookstore</a>.
      </p>

      <p>
        Join us for the film festival, get a discount at race sponsor <a href="http://www.topnotchinn.com/accommodations/" target="_blank">The Top Notch</a> and make a weekend of it!
      </p>

    </div>

  </div>
