---
title: Registration and Schedule
---

  <h2>
    Registration and Schedule
  </h2>

  <div class="row">
    <div class="col-sm-8">

      <p>
        The registration fee is just $35. The week prior to the race, it is $40.  The fee includes a great meal after the race, courtesy of <a href="http://www.libbysbistro.org" target="_blank">SAalt Pub</a>, as well as treats from the <a href="http://whitemountaincafe.com/" target="_blank">White Mountain Café</a>.
      </p>

      <p>
        Proceeds will be donated to <a href="http://www.randolphmountainclub.org" target="_blank">Randolph Mountain Club</a> and <a href="https://friendsofthepresidentialrailtrail.org">Friends of the Presidential Range Rail Trail</a>.
      </p>

      <p>
        There will be the following categories:
      </p>

      <ul>
        <li>
          <strong>Men Open</strong>
        </li>
        <li>
          <strong>Women Open</strong>
        </li>
        <li>
          <strong>Men Limmer Division</strong>
        </li>
        <li>
          <strong>Women Limmer Division</strong>
        </li>
      </ul>

      <p>
        The “Limmer Division” is untimed, for those who want to support the event, but don’t care to race. Limmer Division participants will start at 9:30am with the race at 10am.
      </p>
      
    </div>

    <div class="col-sm-4">
      <%= image_tag "IMG_5100.jpg", :class => 'img-responsive' %>
    </div>

  </div>

  <div class="row mtl">
    <div class="col-sm-8">

      <p class="mtn">
        Watch our <a href="https://www.facebook.com/randolphramblerace/">Facebook page</a> for 2016 registration and weekend schedule details, as they develop.
      </p>

    </div>
    <div class="col-sm-4">
      <%= image_tag "IMG_50941.jpg", :class => 'img-responsive' %>
    </div>
  </div>
