---
title: Important Info
---

  <h2>
    Important Info
  </h2>

  <div class="row mt-4">
    <div class="col-sm-7 col-lg-9">
      <ul>
        <li>
          <strong>Directions:</strong> The Randolph Ramble will start and end at the new Community Forest trailhead, at the end of Randolph Hill Road. If using Google Maps, use this address: <em>Mount Crescent Trail, Randolph Hill Road, Randolph, NH.</em>
        </li>
        <li>
          <strong>Mandatory minimum gear list:</strong> Each participant shall run with a course map (copies will be handed out on race day), at least one-half liter of water, food or snack of some kind, lightweight rain shell, hat, and gloves.
        </li>
        <li>
          <strong>This is an end of the season trail race</strong>, in the Northern White Mountains. Plan accordingly. There may be ice on the course in places—we’ll update our <a href="https://www.facebook.com/randolphramblerace" target="_blank">Facebook Page</a> the day before the race, with the latest course info.
        </li>
      </ul>

  <div class="mt-4">
    <a href="https://ultrasignup.com/register.aspx?eid=10691" class="btn btn-register" target="_blank">
      <span>Register now!</span>
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>

    </div>

    <div class="col-sm-5 col-lg-3">
      <%= image_tag "IMG_5089.jpg", :class => 'img-fluid' %>
    </div>
  </div>
