---
title: Registration and Schedule
---

  <h2>
    Lodging
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <p>
        Race partner <a href="http://www.topnotchinn.com" target="_blank">Top Notch Inn</a>, in Gorham, will be providing discounted lodging for race participants on Friday and Saturday nights, October 28 and 29. 
      </p>
      
      <p>
        Contact them via their <a href="http://www.topnotchinn.com/activities/randolph-ramble/">web site</a> for information.
      </p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "top-notch.jpg", :class => 'img-responsive' %>
    </div>
  </div>
