---
title: Registration and Schedule
---

  <h2>
    Lodging
  </h2>

  <div class="row">
    <div class="col-sm-6">      
      <p>
        Contact them via their <a href="http://www.topnotchinn.com/activities/randolph-ramble/">web site</a> for information.
      </p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "top-notch.jpg", :class => 'img-responsive' %>
    </div>
  </div>
