---
title: 2015 Randolph Ramble a Huge Success!
---

  <h2>
    Randolph Ramble 2016!
  </h2>
     
  <p>
    <small>Posted on November 17, 2015</small>
  </p>

  <p>
    We&#8217;re pleased to announce that the Randolph Community Forest has given us permission to hold the Randolph Ramble again next year! We&#8217;ll have a date, and more details, come spring. In the mean time, be sure to follow up on Facebook, for the latest news.
  </p>

  <p>
    Thanks to everyone for making this inaugural year such a great success. What fun! See you in 2016!
  </p>
