@charset "utf-8";
@import "normalize",
        "bootstrap-sprockets",
        "bootstrap",
        "space-helpers";

body {
  padding: 30px 0 20px;
  font: 400 16px/1.6em 'PT Sans', sans-serif;
  color: #555555;
  background-color: #fff;
}

.site-header {
  padding: 20px 35px;
  border: 1px solid #cacaca;
  border-bottom: none;
}

.site-main {
  padding: 40px 35px;
  border: 1px solid #cacaca;
}

.site-footer {
  padding: 30px 0 0;
}

/* Links*/

a {
  color: #982fab;
}
a:hover,
a:focus {
  color: #94174c;
}
/* Headings*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-weight: 500;
  line-height: 1.2;
  color: #507822;
  a {
    color: #507822;
    &:hover, &:focus {
      color: #535353;      
    }
  }
}

h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  a {
    color: #000000;
    &:hover, &:focus {
      color: #535353;      
    }
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}


/* Header */

.menu-item {
  display: inline-block;
  margin-left: 1.5em;
  &:first-child {
    margin-left: 0;
  }
  &.active {
    a {
      color: #f18f2e;
    }
  }
}

.text_logo,
.text_logo a {
    font: 400 32px/1em 'Source Sans Pro', sans-serif;
    color: #000000;
    text-transform: none;
}


/* Footer */

#credit,
#credit a,
#copyright,
#copyright a {
    font: 400 12px/1.3em 'Open Sans', sans-serif;
    color: #993399;
    text-transform: none;
}

.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-cell-6 {
  width: 50%;
}

.social-nav {
  text-align: right;
  a {
    color: #fff;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.social-circle {
  display: inline-block;
  padding: 10px 16px;
  background: #507822;
  border-radius: 50%;
  &:hover, &:focus {
    background: #488f5c;
  }
}

/* Custom*/

.btn {
  padding: 11px 55px;
  font-size: 20px;
  font-weight: 600;
}

.blog_date {
  background: #507822;
}

.sponsor-label {
  font-weight: 600;
}

