---
title: The Course
---

  <h2>
    The Course
  </h2>

  <p>
    The Randolph Ramble takes place entirely on the 10,000 acre, sustainably managed <a href="http://Randolphforest.org" target="_blank">Randolph Community Forest</a>. The start and finish is at the new Community Forest trailhead, at the end of Randolph Hill Road, on the Randolph Community Forest.
  </p>

  <p>
    The course has it all: a steep climb up Mount Crescent, views of the Northern Presidentials, a cruise through the boreal forest, a technical downhill, and a finish on Community Forest woods roads. The total vertical climb is 2,025 feet.
  </p>

  <p>
    Here&#8217;s a brief written description of the route, for those of you who&#8217;d like to get out and scope it out, prior to the race! 
  </p>

  <p>
    <em>From the new Community Forest Trailhead at the end of Randolph Hill Road, run roughly 100 yards down the adjacent logging road, towards the east. (This is the &#8220;Jimtown&#8221; logging road to Gorham, for those of you who are familiar with it.) Look for the turn left, onto the Mount Crescent Trail&#8211; careful, it&#8217;s easy to miss. From there, head uphill on the Mount Crescent Trail, then turn right onto the Crescent Ridge Trail. Much of the race is on this wooded, technical path, over the summit of Mount Crescent, past the North Lookout, past Carlton Notch Trail and the Underhill Path, past Lafayette View and the summit of Mount Randolph. Take a left on the Four Soldiers Path, after beginning the descent off of Mount Randolph. The trail descends, most of the time gently. After three crossings of the snowmobile trail, you&#8217;ll come to another crossing in another hundred yards or so. (If you reach Pasture Path, you&#8217;ve gone just about 100 yards too far.) Take a left here, and in another hundred yards, rejoin the Jimtown Logging Road. Bear right, heading uphill, to the start/finish, which is a few hundred yards after the crest of the hill.
  </p>

  <p>
    The route is technical, with a stiff climb at the start, some nice cruising in spots, and some short, tricky descents. It&#8217;ll be fun!
  </p>

  <p>
    Race Directors&#8217; Note: We reserve the right to adjust the start and finish by 100 yards or more, to get to 10 km on the dot! </em>
  </p>

  <p>
    <a href="images/randolph_ramble_map_with_copy.jpg">
      <%= image_tag "randolph_ramble_map_with_copy.jpg", :class => "img-responsive" %>
    </a>
  </p>
  