---
title: The Course
---

  <h2>
    The Course
  </h2>

  <p>
    The Randolph Ramble takes place entirely on the 10,000 acre, sustainably managed <a href="http://Randolphforest.org" target="_blank">Randolph Community Forest</a>. The start and finish is at the new Community Forest trailhead, at the end of Randolph Hill Road, on the Randolph Community Forest.
  </p>

  <p>
    The course has it all: a steep climb up Mount Crescent, views of the Northern Presidentials, a cruise through the boreal forest, a technical downhill, and a finish on Community Forest woods roads. The total vertical climb is 2,025 feet.
  </p>

  <p>
    Here&#8217;s a brief written description of the route, for those of you who&#8217;d like to get out and scope it out, prior to the race! 
  </p>

  <ol>
    <li>
      Starting just downhill from (east of) the new Community Forest Trailhead at the end of Randolph Hill Road, run west about a quarter mile to the junction of the Carlton Notch Trail. 
    </li>
    <li>
      Turn right on the Carlton Notch Trail and go just over a tenth of a mile uphill to the junction of the Castleview Loop Trail. 
    </li>
    <li>
      Take a right on the Castleview Loop Trail and climb about a quarter mile to the junction of the Mount Crescent Trail.
    </li>
    <li>
      Take a left on the Mount Crescent Trail, climbing about 0.4mi to the junction of the Crescent Ridge Trail. 
    </li>
    <li>
      Turn right on the Crescent Ridge Trail. Much of the race is on this wooded, technical path, over the summit of Mount Crescent, past the North Lookout, past Carlton Notch Trail and the Underhill Path, past Lafayette View and the summit of Mount Randolph.
    </li>
    <li>
      Take a left on the Four Soldiers Path, after beginning the descent off of Mount Randolph. The trail descends, most of the time gently. 
    </li>
    <li>
      After three crossings of the snowmobile trail, you&#8217;ll come to another crossing in another hundred yards or so. Take a left here! (If you reach Pasture Path, you&#8217;ve gone just about 100 yards too far.) 
    </li>
    <li>
      In another hundred yards, rejoin the Jimtown Logging Road, bearing right and heading uphill, to the start/finish, which is a few hundred yards after the crest of the hill.
    </li>
  </ol>

  <p>
    The route is technical, with a stiff climb at the start, some nice cruising in spots, and some short, tricky descents. It&#8217;ll be fun!
  </p>

  <p>
    Race Directors&#8217; Note: We reserve the right to adjust the start and finish by 100 yards or more, to get to 10 km on the dot!
  </p>

  <div class="mt-4">
    <a href="https://ultrasignup.com/register.aspx?eid=10691" class="btn btn-register" target="_blank">
      <span>Register now!</span>
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>

  <p>
    <%= image_tag "course-topo-map.png", :class => "img-fluid" %>
  </p>
  