---
title: Latest News
---

<% content_for :pre_body do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=190008024411693";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>

<div class="row">
  <div class="col-sm-6 col-md-5 mbl">
    <div class="fb-page" data-href="https://www.facebook.com/randolphramblerace/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/randolphramblerace/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/randolphramblerace/">Randolph Ramble</a>
      </blockquote>
    </div>
  </div>
  <div class="col-sm-6 col-md-7">
    <h2 class="mtn mbm">
      Latest News
    </h2>
    <p>
      We’re pleased to announce that the Randolph Community Forest has given us permission to hold the Randolph Ramble again next year! We’ll have a date, and more details, come spring. In the mean time, be sure to follow up on Facebook, for the latest news.
    </p>
    <p>
      Thanks to everyone for making this inaugural year such a great success. What fun! See you in 2016!
    </p>
  </div>
</div>

<% if false %>

  <div class="row">
    <div class="col-sm-4">
      <time class="blog_date">
        <span class="mo">Jan</span><br /><span class="day">10</span>
      </time>
    </div>
    <div class="col-sm-8">
      <h2>
        <a href="/uncategorized/2016-ramble-book-it">
          2016 Ramble&#8211; Book it!
        </a>
      </h2>
      <p class="mts">
        We have a date for the 2016 Randolph Ramble! Sunday, October 30th. Save it! Are we going to make it bigger, badder, and more extravagant than the first annual Randolph
      </p>
    </div>
  </div>

  <div class="row mtl">
    <div class="col-sm-4">
      <time class="blog_date">
        <span class="mo">Nov</span><br /><span class="day">17</span>
      </time>
    </div>
    <div class="col-sm-8">
      <h2>
        <a href="/uncategorized/randolph-ramble-a-huge-success/">
          Randolph Ramble&#8230; 2016!
        </a>
      </h2>
      <p class="mts">
        We&#8217;re pleased to announce that the Randolph Community Forest has given us permission to hold the Randolph Ramble again next year! We&#8217;ll have a date, and more details, come spring.
      </p>
    </div>
  </div>

<% end %>
