---
title: Latest News
---

  <div class="row">
    <div class="col-sm-4">
      <time class="blog_date">
        <span class="mo">Jan</span><br /><span class="day">10</span>
      </time>
    </div>
    <div class="col-sm-8">
      <h2>
        <a href="/uncategorized/2016-ramble-book-it">
          2016 Ramble&#8211; Book it!
        </a>
      </h2>
      <p class="mts">
        We have a date for the 2016 Randolph Ramble! Sunday, October 30th. Save it! Are we going to make it bigger, badder, and more extravagant than the first annual Randolph
      </p>
    </div>
  </div>

  <div class="row mtl">
    <div class="col-sm-4">
      <time class="blog_date">
        <span class="mo">Nov</span><br /><span class="day">17</span>
      </time>
    </div>
    <div class="col-sm-8">
      <h2>
        <a href="/uncategorized/randolph-ramble-a-huge-success/">
          Randolph Ramble&#8230; 2016!
        </a>
      </h2>
      <p class="mts">
        We&#8217;re pleased to announce that the Randolph Community Forest has given us permission to hold the Randolph Ramble again next year! We&#8217;ll have a date, and more details, come spring.
      </p>
    </div>
  </div>
