

<% content_for :pre_body do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=190008024411693";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>

  <a href="/for-more-info/">
    <%= link_to((image_tag "header-image-news.png", :class => "img-fluid"), 'https://www.facebook.com/randolphramblerace/') %>
  </a>

  <p class="lead">
    The <span style="font-size: 30px; color: #507822;">
    Randolph Ramble</span> is a 10 kilometer-long, rugged, self-supported trail race through the Great North Woods in the mountain town of Randolph, New Hampshire, at the base of the Northern Presidentials.
  </p>

  <p class="lead">
    The 2019 edition will take place on <span style="font-size: 30px; color: #993399;">Sunday, October 27, 2019</span>. Registration will open sometime in July! You can get the latest news from our <a href="https://www.facebook.com/randolphramblerace/">Facebook page</a>.
  </p>

<% if false %>
  <div class="mt-4">
    <a href="https://www.runreg.com/randolph-ramble-trail-race" class="btn btn-register" target="_blank">
      <span>Register now!</span>
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
<% end %>
  
  <p class="lead">
    The race places an emphasis on self-sufficiency in the mountains: there are no aid stations and, due to the time of year, there is a mandatory gear list.
  </p>

  <div class="row mt-4 pt-4">
    <article class="col-lg-6 mb-4">
      <div class="fb-page" data-href="https://www.facebook.com/randolphramblerace/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/randolphramblerace/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/randolphramblerace/">Randolph Ramble</a>
        </blockquote>
      </div>
    </article>
    <figure class="col-lg-6">
      <%= image_tag "IMG_5052.jpg", :class => "img-fluid mb-4" %>
      <%= image_tag "IMG_5085.jpg", :class => "img-fluid" %>
    </figure>
  </div>
