
  <a href="/for-more-info/">
    <%= image_tag "header-image-news.png", :class => "img-responsive" %>
  </a>

  <p class="lead">
    The <span style="font-size: 30px; color: #507822;">
    Randolph Ramble</span> is a 10 kilometer-long, rugged, self-supported trail race through the Great North Woods in the mountain town of Randolph, New Hampshire, at the base of the Northern Presidentials.
  </p>

  <p class="lead">
    The race will take place on <span style="font-size: 30px; color: #993399;">Sunday, October 30. </span>Stay tuned for details.
  </p>
  
  <p class="lead">
    The race places an emphasis on self-sufficiency in the mountains: there are no aid stations and, due to the time of year, there is a mandatory gear list.
  </p>

  <div class="row mtl ptl">
    <figure class="col-sm-6">
      <%= image_tag "IMG_5052.jpg", :class => "img-responsive" %>
    </figure>
    <figure class="col-sm-6">
      <%= image_tag "IMG_5085.jpg", :class => "img-responsive" %>
    </figure>
  </div>
