---
title: 2016 Ramble&#8211; Book it!
---

<div class="content_squeeze">
  
  <h2>
    2016 Ramble&#8211; Book it!
  </h2>

  <p>
    Posted on January 10, 2016
  </p>

  <p>
    We have a date for the 2016 Randolph Ramble!
  </p>

  <p>
    <strong>Sunday, October 30th. Save it!</strong>
  </p>

  <p>
    Are we going to make it bigger, badder, and more extravagant than the first annual Randolph Ramble?
  </p>

  <p>
    Nope. We liked it just the way it was. Low-key. Fun. Rugged trail running. Great friends, new and old. Good food, too!
  </p>

  <p>
    <a href="wp-content/uploads/2016/01/11666246_1556968451230410_841130140979465937_n.jpg"><img class="alignnone size-full wp-image-160 img-responsive" src="wp-content/uploads/2016/01/11666246_1556968451230410_841130140979465937_n.jpg" alt="11666246_1556968451230410_841130140979465937_n" width="960" height="538" srcset="http://randolphramble.com/wp-content/uploads/2016/01/11666246_1556968451230410_841130140979465937_n-300x168.jpg 300w, http://randolphramble.com/wp-content/uploads/2016/01/11666246_1556968451230410_841130140979465937_n.jpg 960w" sizes="(max-width: 960px) 100vw, 960px" /></a>
  </p>

  <p>
    Save the weekend&#8211; we&#8217;ll be hosting the Trails in Motion film festival again this year, too.
  </p>

  <p>
    In the mean time, let&#8217;s all keep in mind some advice from participant Jeff LeBlanc:
  </p>

  <p class="text-center">
    <em>bang from loud cannon </em><br />
    <em>does this uphill ever stop?</em><br />
    <em>wet leaves, rocks, don&#8217;t fall</em>
  </p>

  <p>
    And, oh, you can find lots of great photos from the 2015 Ramble <a href="https://www.facebook.com/randolphramblerace/?fref=nf">on our Facebook page</a>. Share the news&#8211; and until then, happy trail running!
  </p>

  <p>
    Your humble Race Directors,
  </p>

  <p>
    Mike, Jeremiah, Doug
  </p>

  <p>
    <a href="wp-content/uploads/2016/01/12118822_1556893421237913_1523218346873059362_n.jpg"><img class="alignnone size-full wp-image-159 img-responsive" src="wp-content/uploads/2016/01/12118822_1556893421237913_1523218346873059362_n.jpg" alt="12118822_1556893421237913_1523218346873059362_n" width="960" height="640" srcset="http://randolphramble.com/wp-content/uploads/2016/01/12118822_1556893421237913_1523218346873059362_n-300x200.jpg 300w, http://randolphramble.com/wp-content/uploads/2016/01/12118822_1556893421237913_1523218346873059362_n.jpg 960w" sizes="(max-width: 960px) 100vw, 960px" /></a>
  </p>

</div>
